@import "//fonts.fontstorage.com/import/bebasneue.css";
@import "//fonts.fontstorage.com/import/aileron.css";

body {
	color: #b9b9b9;
	font: 12px  'Aileron', sans-serif;
	background: #fff;
	margin: 0;
}

/* text colors */
.color-orange{
	color: #e8663c;
}
.color-peach{
	color: #f3af9d;
}
.color-lightgray{
	color: #b9b9b9;
}
.color-gray{
	color: #3a3a3a;
}
.color-white{
	color: #fff;
}

/* background colors */
.bg-color-orange{
	background-color: #e8663c;
}
.bg-color-peach{
	background-color: #f3af9d;
}

/* text sizes */
.text-xs{
	font-size: 12px;
}
.text-s{
	font-size: 14px;
	font-weight: bold;
}
.text-sm{
	font-size: 16px;
}
.text-ssm{
	font-size: 18px;
	font-weight: 600;
}
.text-m{
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6em;
}
.text-l{
	font-size: 30px;
	font-weight: 700;
}

/* text fonts */
.font-bebas{
	font-family: 'Bebas Neue';
}

/* alignment & margin */
.align-left {
	float: left;
}
.align-right {
	float: right;
}
.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -16px;
}
.margin-top{
	margin-top: -10px;
}
.float__right{
	float: right;
}
.margin-right_about{
	margin-right: 25px;
}
.padding_title{
	padding: 15px 10px;
}
.padding-top{
	padding-top: 40px;
}
.margin-top--plus{
	margin-top: 25px;
}

/* layouts */
.flex-layout{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
.flex-layout--nowrap{
	flex-wrap: nowrap;
}
.flex-layout--contact{
	width: 90%;
}
.grid-layout{
	margin-top: 10px;
	display: grid;
	height: auto;
	justify-content: space-between;
	gap: 4px;
	grid-template-columns: repeat(4, 23.5%);
}

/* stripe */
.stripe{
	position: absolute;
	z-index: -1;
	left: 0;
	right: 0;
}
.stripe__header{
	top: 111px;
	width: 100%;
	height: 60px;
}
.stripe__footer{
	position: relative !important;
	bottom: 0;
	top: auto;
	width: 100%;
	height: fit-content;
}
.stripe__page{
	position: relative !important;
	z-index: 1;
	width: 100%;
	height: 60px;
	margin-bottom: 25px;
}

/********* HEADER **********/

header {
	padding: 20px 10px;
}
.header__nav{
	max-width: 40vw;
}
.header__nav a{
	color: #b9b9b9;
	text-decoration: none;
	padding-left: 1.6vw;
}
.header__nav .is-active{
	color: #e8663c;
}
.logo{
	height: 33px;
	width: auto;
}
.wrapper {
	max-width: 69vw;
	margin: auto;
}

/********* FOOTER **********/

footer {
	clear: both;
    color: #ffffff;
    font-size: 11px;
    height: fit-content;
    max-width: 68vw;
    margin-right: auto;
    margin-left: auto;
	border-left: 10px solid #fff;
	border-right: 10px solid #fff;
	padding-bottom: 30px;
}
.footer__svg{
	max-width: 200px;
}
.footer__col{
	padding: 0 30px;
	max-width: 35%;
	width: 25%;
}
.footer__title{
	text-align: left;
}
.footer__twit{
	color: #f3b29d;
}

/******** CONTAINERS ********/
.container{
	background-color: rgb(255, 255, 255);
	padding: 0 10px;
	max-width: 68vw;
	height: fit-content;
	position: relative;
}
.gallery{
	padding-top: 20px;
	max-width: 68vw;
	height: auto;
}
.block{
	width: 100%;
	height: auto;
}

/* page-container */
.page-container{
	width: 100%;
	height: fit-content;
}
.page-container__main{
	width: 70%;
	max-width: 85%;
	height: auto;
	display: block;
	background-color: transparent;
	padding-bottom: 30px;
}
.page-container__main--contact{
	width: 75%;
}
.page-container__side{
	width: 25%;
	height: fit-content;
	background-color: transparent;
}
.page-container__sideblock{
	margin-bottom: 35px;
}
.side__title{
	min-width: fit-content;
	margin: 0 20px 0 0;
	padding: 0;
	line-height: 30px;
	max-width: 245px;
}
.sq{
	height: 100%;
	width: 100%;
}

/* posts block */
.posts{
	padding-top: 20px;
	max-width: 68vw;
	height: auto;
}
.post{
	display: block;
	max-width: 33.3%;
	height: auto;
	position: relative;
}
.post__img{
	max-width: 50px;
	height: auto;
}
.post__title{
    line-height: 1.2em;
    max-width: 245px;
    padding-left: 20px;
}
.post__description{
	font-weight: 300;
	line-height: 1.5em;
	padding-bottom: 40px;
	max-width: 300px;
}
.post__hat{
    align-items: center;
    align-content: baseline;
}


/* card block */
.card{
	display: block;
	width: 23%;
	padding-bottom: 40px;
}
.card__text{
	margin-top: -12px;
	padding: 7px 10px;
	border: 1px solid #b9b9b9;
	font-size: 15px;
}
.card__description{
	margin-top: -20px;
}

/* about block */
.about__img{
	width: 33%;
	height: auto;
	border: 1px solid #979797;
	padding: 2px;
}
.about__svg{
	margin-top: -5px;
	margin-right: 0;
}
.about__quote{
	margin-left: 50px;
}

/* portfolio block*/
.portfolio__block{
	transition: all 0.3s ease;
}
.portfolio__img{
	position: relative;
	z-index: 10;
	width: 100px;
	height:100px;
	background-color: rgba(0, 0, 0, 0.466);
	opacity: 0;
	transition: all 0.3s ease;
}
.portfolio__block:hover{
	opacity: 1.0;
	cursor: pointer;
}

/* contact block */
.map{
	width: 95%;
	height: auto;
}
.contact__textblock{
	width: 25%;
	margin-top: 20px;
}
.contact__formblock{
	width: 65%;
	height: auto;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 35px;
}
.contact__form{
	width: 100%;
	display: inline-block;
}
input[type=text], textarea{
	border: 1px solid #e8663c;
	color: #e8663c;
	min-width: 200px;
	min-height: 30px;
	margin: 5px 20px 10px 0;
	padding-left: 20px;
}
textarea{
	min-height: 180px;
	width: 100%;
	padding: 12px 20px;
	resize: none;
}
input::placeholder, 
textarea::placeholder{ 
	color: #e8663c;
}
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{ 
	color: #e8663c;
}

input::-moz-placeholder , 
textarea::-moz-placeholder { 
	color: #e8663c;
}


/* filter-bar */
.filter-bar{
	font-size: 18px;
	font-weight: 600;
	display: flex;
	max-width: 20vw;
}
.filter-bar p{
	margin: 10px 20px 15px 0;
}
.filter-bar p:hover{
	cursor: pointer;
}
.filter-bar .is-active{
	background-color: #e8663c;
	color: #fff;
	padding: 0 10px;
}

/* decorations */
.dashed{
	background: repeating-linear-gradient(
		135deg,
		#ffffff,
		#cfcfcf 1px
	  );
	  height: 20px;
	  width: 100%;
	  margin-top: 3px;
	  grid-area: dashed;
}
.button{
	position: absolute;
	bottom: 0;
	top: auto;
	height: fit-content;
	max-width: 70px;
	padding: 7px 15px;
	border: none;
}
.button:hover{
	cursor: pointer;
}